.tel-mail {
    display: flex;
    margin-left: auto;
}

.tel-mail-item:not(:last-child) {
    margin-right: 50px;
}

.tel-mail-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-text-color-theme-light;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $primary-accent-color;
    }
}

.tel-mail-icon {
    margin-right: 10px;
    fill: $secondary-text-color-theme-light;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .tel-mail-link:hover &,
    .tel-mail-link:focus & {
        fill: $primary-accent-color;
    }
}
